:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#-Hola {
    background-color: red;
}

.img-card {
  border-radius: 10px;
  
}

.div-img-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.pay-container {
  margin: 5px;
  margin-bottom: 15px;
}

.pepe {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
}

.pay-amount-container {
display: grid;
grid-template-columns: repeat(2, auto);
justify-content: center;
gap:10px;
margin-right: 25px;
}

.pay-amount {
  border: 1px solid gray;
  padding: 15px;
  width: 118px;
  border-radius: 10px;
 
}

.pay-amount:hover {
background-color: #747bff
}

.pay-amount-coin {
  border: 1px solid gray;
  border-radius: 10px;
  padding-top: 6px;
  padding-right: 10px;
}

.pay_3 {
  display: flex;
  justify-content: center;
  margin-right: 25px;
}

.input-email {
  width: 220px;
  outline: none;
  border-radius: 8px;
  height: 30px;
  border: 1px solid gray;
  padding-left: 10px;
  padding-right: 10px;

}


.input-email:hover {
 border-color: #646cff;

}

.button-pay {
  margin: auto;
}

.button  {
  margin-right: 25px;
}

.collapse {
  padding: 5px;
}

.collapse-content {
  padding: 10px;
}

.p-copy {
  margin-left: 20px;
  color: #747bff;
}
.modal {
  padding: 20px;
}

.qr-container {
  margin: auto;
}

.text-p {
  margin: auto;
}

.text {
  margin-right: 25px;
  margin-top: 5px;
}

div {
  cursor: pointer;
}